.discoverMoreBox {
    text-align: center;
}

.discoverMoreBox h2 {
    margin-bottom: 20px;
}

.discoverMore {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.cardwe {
    display: flex;
    flex-direction: column;
    width: calc(100% - 4vw); /* Full width minus margin for small screens */
    max-width: 300px; /* Max width to prevent too wide on large screens */
    margin: 2vw;
    border: 2px solid #bcd0ef;
    border-radius: 12px;
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

@media (min-width: 750px) {
    .discoverMore {
        flex-direction: row;
        justify-content: center;
    }

    .cardwe {
        width: calc(40% - 4vw); /* Adjusted width to fit two cards per row with margin */
        max-width: 20vw; /* Ensure cards do not stretch too much on larger screens */
    }
}

.cardwe:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-left {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-body {
    padding: 1vw; /* Reduced padding for better spacing */
    text-align: justify;
}

.card-title, .card-text {
    margin: 1px;
    text-align: center;
    word-wrap: break-word;
}

.btn.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw 1vw;
}

@media (max-width: 780px) {
    .cardwe {
        width: calc(100% - 4vw); /* Full width minus margin */
        max-width: 90vw; /* Ensure it does not exceed the viewport width */
    }

    .card-body {
        padding: 2vw;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}
